body {
  background-color: #8bc9ff;
}
h1 {
  font-size: 3em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
button {
  font-size: 1.3em;
  margin-top: 16px;
  color: black;
}
